@font-face {
    font-family: "Maven-Modern-Light";
    src: url("../assets/MavenProLight-100.otf") format("truetype");
}

@font-face {
    font-family: "Maven-Modern";
    src: url("../assets/MavenProLight-200.otf") format("truetype");
}

@font-face {
    font-family: "Maven-Modern-Strong";
    src: url("../assets/MavenProLight-300.otf") format("truetype");
}

body {
    color: #fff;
    font-family: "Maven-Modern", sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*
* Section styling
*/

section {
    height: 100vh;
    width: 100vw;
    position: relative;
    color: #fff;
    vertical-align: true;
}

#screen-1 {
    background: #363636;
}

#screen-2 {
    background: #404040;
}

#screen-2 h1 {
    padding-top: 0.3em;
    letter-spacing: 0.3em;
    font-size: 5em;
    text-align: center;
    display: block;
    z-index: 1;
}

/* Hero image styling */

.profile-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 40vw;
    height: 100vh;
    z-index: 0;
}

/* Styling for description text */

.info-container {
    background: rgb(77, 77, 77);
    border: 1.5px solid rgba(255, 255, 255, 1);
    padding: 3%;
    letter-spacing: 0.1em;
    font-size: 1.2em;
}

.profile-info {
    color: #fff;
    position: relative;
    left: 12vw;
    top: 15vh;
    width: 30vw;
}

/* Styling for resume text */

.resume-container {
    letter-spacing: 0.1em;
    font-size: 1.8em;
}

.resume {
    position: relative;
    left: 25vw;
    top: 40vh;
    width: 25vw;
}

.resume a {
    text-decoration: none;
    color: #fff;
    transition: box-shadow 0.3s linear;
    padding: 0.5em;
}

.resume a:hover {
    box-shadow: 2px 0px #fff;
}


/*  
*   Typewriting animation in screen 1
*/

.typewrite {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    font-family: 'Maven-Modern', sans-serif;
    height: 70vh;
}

/* 
*   Scroll-down button
*/

#screen-1 a {
    position: absolute;
    bottom: 20px;
    margin-left: -2.5%;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    text-align: center;
    padding-top: 70px;
    font-family: "Maven-Modern-Strong", sans-serif;
}

#screen-1 a:hover {
    opacity: 0.5;
}

#screen-1 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-animation: sdb06 1.5s infinite;
    animation: sdb06 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb06 {
    0% {
        -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb06 {
    0% {
        transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

/*
*   Contact popup
*/

.contact {
    cursor: pointer;
    position: fixed;
    left: 0;
    bottom: 10vh;
    padding-left: 0.5em;
    padding-right: 0.25em;
    writing-mode: tb-rl;
    letter-spacing: 0.1em;
    white-space: nowrap;
    display: inline;
    outline: none;
    transition: box-shadow 0.3s linear;
    font-family: 'Maven-Modern', sans-serif;
}

.contact:hover {
    box-shadow: 2px 0px #fff;
}

.contact-popup-outter {
    position: fixed;
    left: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    width: 100%;
    height: 40%;
    opacity: 0.4;
}

.close-cross {
    position: absolute;
    top: 1vh;
    right: 1vw;
    color: #000000;
    font-family: "Maven-Modern-Strong";
    opacity: 1;
    cursor: pointer;
}

.mail-container {
    text-align: center;
    display: block;
    color: #000000;
    opacity: 1;
    margin-bottom: 1.5em;
    font-family: "Maven-Modern-Strong";
    font-size: 1.5em;
}

.intro-contact-container {
    text-align: center;
    display: block;
    color: #000000;
    opacity: 1;
    font-family: "Maven-Modern-Strong";
    font-size: 1em;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#git-icon,
#linkedin-icon,
#fb-icon {
    fill: #4f4f4f;
    opacity: 1;
}

svg:hover #git-icon {
    fill: #000000;
}

svg:hover #fb-icon {
    fill: #3B5998;
}

svg:hover #linkedin-icon {
    fill: #007AB9;
}