@font-face {
  font-family: "Maven-Modern-Light";
  src: url("../assets/MavenProLight-100.otf") format("truetype");
}

@font-face {
  font-family: "Maven-Modern";
  src: url("../assets/MavenProLight-200.otf") format("truetype");
}

@font-face {
  font-family: "Maven-Modern-Strong";
  src: url("../assets/MavenProLight-300.otf") format("truetype");
}

body {
  color: #fff;
  font-family: "Maven-Modern", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #ff5851;
}

.title-text {
  text-align: center;
  font-size: 6em;
  font-family: 'Maven-Modern-Strong'
}

.hero-image-container {
  display: none;
}

.hero-image {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  border: 5px solid white;
}

/*
* Section styling
*/

section {
  height: 100vh;
  width: 100vw;
  position: relative;
  color: #fff;
  vertical-align: true;
  z-index: 0;
}

.section-1-background {
  transition: background-color 1s ease-in;
  background-color: #ff5851;
}

.section-2-background {
  transition: background-color 1s ease-in;
  background-color: #0f96eb
}

#screen-2 h1 {
  padding-top: 0.3em;
  letter-spacing: 0.3em;
  font-size: 5em;
  text-align: center;
  display: block;
  z-index: 1;
}

/* Hero image styling */

.profile-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 35vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.8;
}

.overlay {
  background-color: #0f96eb;
  z-index: -1;
  width: 35vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

/* Styling for description text */

.info-container {
  background: #0f96eb;
  border: 0.1em solid rgba(255, 255, 255, 1);
  padding: 5vh 3vw 5vh 3vw;
  letter-spacing: 0.1em;
  font-size: 1.2em;
  -webkit-box-shadow: 0 0 5px #000000;
  box-shadow: 0 0 5px #000000;
}

.profile-info {
  color: #fff;
  position: relative;
  left: 16vw;
  top: 14vh;
  width: 30vw;
  text-align: center;
}

.strong-text {
  font-family: "Maven-Modern-Strong";
  font-size: 1.2em;
}

.skill-text {
  margin: 1em 1em 1em 1em;
}

/* Styling for resume text */

.resume-container {
  letter-spacing: 0.1em;
  font-size: 2em;
}

.resume {
  position: relative;
  left: 30vw;
  top: 35vh;
  width: 25vw;
  font-family: "Maven-Modern-Strong"
}

.resume a {
  text-decoration: none;
  color: #fff;
  transition: box-shadow 0.3s linear;
  padding: 0.5em;
}

.resume a:hover {
  box-shadow: 0px 2px #fff;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  outline: 1px solid rgb(223, 223, 223);
  border: 1px solid rgb(207, 207, 207);
  border-radius: 10%;
}

/* Footer */

footer {
  background-color: #40424a;
  color: #fff;
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.footer-name {
  color: #ffa6b8;
}


/*  
*   Typewriting animation in screen 1
*/

.typewrite {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  font-family: "Maven-Modern", sans-serif;
  height: 80vh;
}

/*
*   Contact popup
*/

.contact {
  cursor: pointer;
  position: fixed;
  left: 0;
  bottom: 20vh;
  padding-left: 0.5em;
  padding-right: 0.25em;
  writing-mode: tb-rl;
  letter-spacing: 0.1em;
  white-space: nowrap;
  display: inline;
  outline: none;
  transition: box-shadow 0.3s linear;
  font-family: "Maven-Modern-Strong", sans-serif;
}

.contact:hover {
  box-shadow: 2px 0px #fff;
}

.contact-popup-outter {
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 90%;
  height: 40%;
  opacity: 1;
  margin: 0 5vw;
}

.close-cross {
  position: absolute;
  top: 2vh;
  right: 2vw;
  padding: 1.5vh 1.5vw;
  color: #000000;
  font-size: 1.5em;
  font-family: "Maven-Modern-Strong";
  opacity: 1;
  cursor: pointer;
}

.mail-container {
  text-align: center;
  display: block;
  opacity: 1;
  margin-bottom: 5vh;
  font-family: "Maven-Modern-Strong";
  font-size: 1.5em;
}

.mail-container a {
  text-decoration: none;
  color: #000000;
}

.intro-contact-container {
  text-align: center;
  display: block;
  color: #000000;
  opacity: 1;
  font-family: "Maven-Modern-Strong";
  font-size: 1em;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  margin: 0vh 2vw;
  min-width: 3vw;
  min-height: 3vh;
}

#git-icon {
  fill: #000000;
}

#fb-icon {
  fill: #3b5998;
}

#linkedin-icon {
  fill: #007ab9;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .typewrite {
    font-size: 4em;
  }
  .resume {
    top: 25vh;
    left: 26vw;
    font-size: 1.5em;
  }
  .resume a {
    padding: 0.2em;
  }
  .profile-info {
    top: 10vh;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .typewrite {
    font-size: 1.7em;
    height: 50vh;
  }
  .resume {
    top: 20vh;
    left: 38vw;
    font-size: 1.5em;
  }
  .resume a {
    padding: 0.2em;
  }
  .profile-info {
    top: 10vh;
    left: 22vw;
    width: 50vw;
  }
  .profile-image {
    display: none;
  }
  .overlay {
    display: none;
  }
  .title-text {
    font-size: 5em;
  }
  .hero-image-container {
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    margin-top: 5vh;
  }
}

#loading {
  background-color: #ff5851;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  top: 0px;
}

#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
}

#load-object {
  width: 80px;
  height: 80px;
  background-color: #FFF;
  -webkit-animation: animate 1s infinite ease-in-out;
  animation: animate 1s infinite ease-in-out;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: perspective(160px);
  }
  50% {
    -webkit-transform: perspective(160px) rotateY(-180deg);
  }
  100% {
    -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg);
  }
}

@keyframes animate {
  0% {
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
  }
}

/* 
*   Scroll-down button
*/

#screen-1 a {
  position: absolute;
  bottom: 1vh;
  margin-left: -3.5%;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
  text-align: center;
  padding-top: 4.5em;
  font-family: "Maven-Modern-Strong", sans-serif;
}

#screen-1 a:hover {
  opacity: 0.5;
}

#screen-1 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2em;
  height: 2em;
  margin-left: -1em;
  border-left: 0.1em solid #fff;
  border-bottom: 0.1em solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* Float shadow from hover.css */

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}